PORT=3000
NODE_ENV=development

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=reactor_rps

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/reactor_rps

RPS_BASE_URL=https://assignments.reaktor.com/
RPS_API_TOKEN=your_api_token_here
